<div class='map'>
  <%= image_tag 'map.png' %>

  <a href='#' >
    <div class='castle'></div>
  </a>

  <a href='#' >
    <div class='town'></div>
  </a>
</div>

<div class='town_info'>
  <h2>Players in Town:</h2>
  <ul>
    <% User.all.where(location: @town).each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
  <%= link_to 'Go to the Town', @town %>
</div>

<div class='castle_info'>
  <%= @castle.name %> is <%= (current_user.location.y_position - @castle.y_position).abs %> seconden away.
  <%= link_to 'Travel', travel_path(@castle) %>
</div>

<% if current_user.travel_time > Time.now %>
  <div class='travel_message'>Traveling to Castle arriving in <span id='travel_time'><%= '%.0f' % ((current_user.travel_time) - Time.now)%></span> seconds</div>

  <script type="text/javascript">
    var ready;
    ready = function() {

      var travel_time = <%= '%.0f' % (current_user.travel_time- Time.now)%>
      setInterval( function() {
          travel_time--;
          $('#travel_time').html(travel_time);
          if (travel_time < 0) {
              location.reload();
          }    
      }, 1000 );
    };

    $(document).ready(ready);
    $(document).on('page:load', ready); 
  </script>
<% end %>