<div class='map'>
  <%= image_tag 'map.png' %>

  <a href='#' >
    <div class='castle'>
      <% if current_user.location == @castle %>
        <div class='pawn'>
          <%= image_tag(current_user.race.to_s + '.png') if user_signed_in? %>
        </div>
      <% end %>
    </div>
  </a>

  <a href='#' >
    <div class='town'>
      <% if current_user.location == @town %>
        <div class='pawn'>
          <%= image_tag(current_user.race.to_s + '.png') if user_signed_in? %>
        </div>
      <% end %>
    </div>
  </a>
</div>

<div class='town_info'>
  <h2>Players in Town:</h2>
  <ul>
    <% User.all.where(location: @town).each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
  <% if current_user.location != @town %>
    <%= @town.name %> is <%= (current_user.location.y_position - @town.y_position).abs %> seconden away.
    <%= link_to 'Travel', travel_path(@town) %>
  <% else %>
    <%= link_to 'Walk the streets', @town %>
  <% end %>
</div>

<div class='castle_info'>
  <h2>Players in Castle:</h2>
  <ul>
    <% User.all.where(location: @castle).each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
  <% if current_user.location != @castle %>
    <%= @castle.name %> is <%= (current_user.location.y_position - @castle.y_position).abs %> seconden away.
    <%= link_to 'Travel', travel_path(@castle) %>
  <% else %>
    <%= link_to 'Walk the streets', @castle %>
  <% end %>
</div>

<% if current_user.travel_time > Time.now %>
  <div class='travel_message'>Traveling to <%= Location.find(current_user.target_location_id).name %> arriving in <span id='travel_time'><%= '%.0f' % ((current_user.travel_time) - Time.now)%></span> seconds</div>

  <script type="text/javascript">
    var ready;
    ready = function() {
      console.log(1)
      var travel_time = <%= '%.0f' % (current_user.travel_time - Time.now) %>
      setInterval( function() {
          travel_time--;
          $('#travel_time').html(travel_time);
          if (travel_time < 0) {
              location.reload();
          }    
      }, 1000 );
    };

    $(document).ready(ready);
    $(document).on('page:load', ready); 
  </script>
<% end %>