<!DOCTYPE html>
<html>
<head>
  <title>Thorn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav>
      <%= link_to root_path do %>
        <h1>Thorn</h1>
      <% end %>
      <% if user_signed_in? %>
        <div class='avatar'>
          <%= image_tag(current_user.race.to_s + '.png') if user_signed_in? %>
        </div>
        <div class='playerinfo'>
          <p><%= current_user.name %></p>
          <p>The level <%= current_user.level %> <%= current_user.race %></p>
          <p><%= current_user.gold %> gold</p>
          <p>Currently at: <%= current_user.position %></p>
          <p><%= link_to 'Map', static_pages_map_path %></p>
          <%= link_to 'Uitloggen', destroy_user_session_path, class: 'navbar-brand', method: "delete" %>
        </div>
      <% end %>
    </nav>

    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>

    <%= yield %>

    <div class='overlay'></div>
  </body>
</html>
