<!DOCTYPE html>
<html>
<head>
  <title>Thorn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav>
      <h1>Thorn</h1>
      <% if user_signed_in? %>
        <div class='avatar'>
          <%= image_tag(current_user.race.to_s + '.png') if user_signed_in? %>
          <p><%= current_user.name %></p>
        </div>
      <% end %>
    </nav>

    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>

    <%= yield %>

  </body>
</html>
